<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4ec9c01e1c.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="x-icon" href="pictures/download.png">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul>
                    <li>
                        <div class="LinkButton">
                            <a href="/post"><i id="logo"class="fa-solid fa-bars"></i></a>
                        </div>
                    </li>
                    <li><h1 id="jarkom">JARKOM</h1></li>
                    <div class="LinkButton">
                        <a id="app"href="https://chatujuh-f7c2a97982c9.herokuapp.com/"target=”_blank”><b>Aplikasi</b></a>
                    </div>
                </ul>
            </nav>
        </header>

        <!-- background kotak-kotak -->
        <div class="wrapper">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>   
        </div>

        <div class = "timeline">
            <div class="container left-container">
                <img src="pictures/download.png">
                <div class="text-box">
                    <h2>Topologi Jaringan</h2>
                    <p>Topologi menggambarkan cara perangkat dalam jaringan terhubung satu sama lain. Contohnya termasuk topologi bintang, topologi bus, topologi cincin, dan topologi mesh.</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>

            <div class="container right-container">
                <img src="pictures/download (1).png">
                <div class="text-box">
                    <h2>Protokol Komunikasi</h2>
                    <p>Protokol komunikasi adalah aturan dan format yang digunakan oleh perangkat dalam jaringan untuk berkomunikasi. Contohnya termasuk TCP/IP (Transmission Control Protocol/Internet Protocol), UDP (User Datagram Protocol), HTTP (Hypertext Transfer Protocol), dan lainnya</p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>

            <div class="container left-container">
                <img src="pictures/download.jpeg">
                <div class="text-box">
                    <h2>Hardware</h2>
                    <p>Ini mencakup semua perangkat fisik yang digunakan dalam jaringan, seperti router, switch, modem, kartu jaringan (network card), dan kabel jaringan</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>

            <div class="container right-container">
                <img src="pictures/download (2).jpeg">
                <div class="text-box">
                    <h2>Software</h2>
                    <p>Ini mencakup perangkat lunak yang digunakan untuk mengelola dan mengatur jaringan, seperti sistem operasi jaringan, firewall, antivirus, dan perangkat lunak manajemen jaringan</p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>

            <div class="container left-container">
                <img src="pictures/download (1).jpeg">
                <div class="text-box">
                    <h2>Keamanan Jaringan</h2>
                    <p>Ini mencakup semua tindakan yang diambil untuk melindungi jaringan dari serangan dan ancaman keamanan, seperti enkripsi data, firewall, VPN (Virtual Private Network), dan deteksi intrusi</p>
                    <span class="left-container-arrow"></span>
                </div>
            </div>

        </div>

    <footer class="bawah">
        <ul>
            <li>
                <div id="tm"><b>Presented by Kelompok 7</b></div>
            </li>
            <li>
                <div class="logo">
                    <a id="gh" href="https://github.com/19623248Git"><i class="fa-brands fa-github"></i></a>
                    <a id="ig" href="https://www.instagram.com/p/CyL092hBr5V/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="><i class="fa-brands fa-square-instagram"></i></a>
                    <a id="dc" href="https://www.youtube.com/watch?v=xvFZjo5PgG0&pp=ygUIcmlja3JvbGw%3D"><i class="fa-brands fa-discord"></i></a>
                </div>
            </li>
        </ul>
    </footer>
    </body>
</html>